<html class="supernova"><head>
    <script>console.warn("Server Side Rendering => render-from ==> \n frontend");</script>
    <style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f30e2a790832f3e96009402"/>
    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */    
    *,
*:after,
*:before {
  box-sizing: border-box;
}
.form-all {
  font-family: "Inter", sans-serif;
}

.form-all {
  display: flex;
  flex-direction: column;
  margin: 72px auto;
  width: 100%;
  max-width: 752px;
}
label-left,
.form-label-right {
  width: 230px;
}
.form-label {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
}

.form-label-top {
  width: 100%;
  margin-bottom: 14px;
}
.form-label:not(.form-label-top) {
  margin-right: 10px;
  margin-top: .625em;
  margin-bottom: .625em;
}
.form-label-right {
  justify-content: flex-end;
  text-align: right;
}
.form-all {
  font-size: 16px;
}
li.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}
.form-line {
  padding: 12px 10px;
}
.form-section {
  padding: 0px 38px;
}
.form-textbox,
.form-textarea {
  padding: 1px 10px -1px 10px;
}

.form-label {
  font-family: "Inter", sans-serif;
}

[data-type="control_dropdown"] .form-input,
[data-type="control_dropdown"] .form-input-wide {
  width: 310px !important;
}

li[data-type="control_image"] div {
  text-align: left;
}

.supernova {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-attachment: fixed;
  background-size: auto;
}

.form-all {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}

</style>
<body>
    <form class="jotform-form" action="/find" method="post" name="form_223154552689463" id="223154552689463" accept-charset="utf-8" autocomplete="on">
      <div role="main" class="form-all">
        <style>
          .form-all:before { background: none;}
        </style>
        <ul class="form-section page-section">
          <li id="cid_14" class="form-input-wide" data-type="control_head">
            <div class="form-header-group  header-large">
              <div class="header-text httal htvam">
                <h1 id="header_14" class="form-header" data-component="header">
                  Heart Disease Prediction
                </h1>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_fullname" id="id_16">
            <label class="form-label form-label-left form-label-auto" id="label_16" for="first_16"> Name </label>
            <div id="cid_16" class="form-input" data-layout="full">
              <div data-wrapper-react="true">
                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                  <input type="text" id="first_16" name="q16_name[first]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_16 given-name" size="10" value="" data-component="first" aria-labelledby="label_16 sublabel_16_first" />
                  <label class="form-sub-label" for="first_16" id="sublabel_16_first" style="min-height:13px" aria-hidden="false"> First Name </label>
                </span>
                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
                  <input type="text" id="last_16" name="q16_name[last]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_16 family-name" size="15" value="" data-component="last" aria-labelledby="label_16 sublabel_16_last" />
                  <label class="form-sub-label" for="last_16" id="sublabel_16_last" style="min-height:13px" aria-hidden="false"> Last Name </label>
                </span>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_number" id="id_103">
            <label class="form-label form-label-left form-label-auto" id="label_103" for="input_103"> Enter Age </label>
            <div id="cid_103" class="form-input" data-layout="half">
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="number" id="input_103" name="q103_a" data-type="input-number" class=" form-number-input form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="e.g., 23" data-component="number" aria-labelledby="label_103 sublabel_input_103" step="any" />
                <label class="form-sub-label" for="input_103" id="sublabel_input_103" style="min-height:13px" aria-hidden="false"> enter your age </label>
              </span>
            </div>
          </li>
          <li class="form-line" data-type="control_dropdown" id="id_104">
            <label class="form-label form-label-left form-label-auto" id="label_104" for="input_104"> Sex </label>
            <div id="cid_104" class="form-input" data-layout="half">
              <span class="form-sub-label-container" style="vertical-align:top">
                <select class="form-dropdown" id="input_104" name="q104_sex" style="width:310px" data-component="dropdown">
                  <option value=""> Please Select </option>
                  <option value="Male"> Male </option>
                  <option value="Female"> Female </option>
                </select>
                <label class="form-sub-label" for="input_104" id="sublabel_input_104" style="min-height:13px" aria-hidden="false"> enter your gender </label>
              </span>
            </div>
          </li>
          <li class="form-line" data-type="control_dropdown" id="id_105">
            <label class="form-label form-label-left form-label-auto" id="label_105" for="input_105"> Chest Pain Type </label>
            <div id="cid_105" class="form-input" data-layout="half">
              <select class="form-dropdown" id="input_105" name="q105_chestPain" style="width:310px" data-component="dropdown">
                <option value=""> Please Select </option>
                <option value="TA"> TA </option>
                <option value="ASY"> ASY </option>
                <option value="ATA"> ATA </option>
                <option value="NAP"> NAP </option>
              </select>
            </div>
          </li>
          <li class="form-line" data-type="control_number" id="id_106">
            <label class="form-label form-label-left form-label-auto" id="label_106" for="input_106"> Resting Blood Pressure </label>
            <div id="cid_106" class="form-input" data-layout="half">
              <input type="number" id="input_106" name="q106_restingBlood" data-type="input-number" class=" form-number-input form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="e.g., 23" data-numbermin="0" data-numbermax="500" data-component="number" aria-labelledby="label_106" step="any" />
            </div>
          </li>
          <li class="form-line" data-type="control_number" id="id_107">
            <label class="form-label form-label-left form-label-auto" id="label_107" for="input_107"> Cholesterol </label>
            <div id="cid_107" class="form-input" data-layout="half">
              <span class="form-sub-label-container" style="vertical-align:top">
                <input type="number" id="input_107" name="q107_cholesterol" data-type="input-number" class=" form-number-input form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="e.g., 23" data-component="number" aria-labelledby="label_107 sublabel_input_107" step="any" />
                <label class="form-sub-label" for="input_107" id="sublabel_input_107" style="min-height:13px" aria-hidden="false"> enter blood cholesterol </label>
              </span>
            </div>
          </li>
          <li class="form-line" data-type="control_dropdown" id="id_108">
            <label class="form-label form-label-left form-label-auto" id="label_108" for="input_108"> Fasting Blood Sugar </label>
            <div id="cid_108" class="form-input" data-layout="half">
              <select class="form-dropdown" id="input_108" name="q108_fastingBlood" style="width:310px" data-component="dropdown">
                <option value=""> Please Select </option>
                <option value="0"> 0 </option>
                <option value="1"> 1 </option>
              </select>
            </div>
          </li>
          <li class="form-line" data-type="control_dropdown" id="id_109">
            <label class="form-label form-label-left form-label-auto" id="label_109" for="input_109"> Resting ECG </label>
            <div id="cid_109" class="form-input" data-layout="half">
              <select class="form-dropdown" id="input_109" name="q109_restingEcg" style="width:310px" data-component="dropdown">
                <option value=""> Please Select </option>
                <option value="Normal"> Normal </option>
                <option value="ST"> ST </option>
                <option value="LVH"> LVH </option>
              </select>
            </div>
          </li>
          <li class="form-line" data-type="control_number" id="id_110">
            <label class="form-label form-label-left form-label-auto" id="label_110" for="input_110"> Max Heart Rate </label>
            <div id="cid_110" class="form-input" data-layout="half">
              <input type="number" id="input_110" name="q110_maxHeart" data-type="input-number" class=" form-number-input form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="e.g., 23" data-component="number" aria-labelledby="label_110" step="any" />
            </div>
          </li>
          <li class="form-line" data-type="control_dropdown" id="id_111">
            <label class="form-label form-label-left form-label-auto" id="label_111" for="input_111"> Exercise Angina </label>
            <div id="cid_111" class="form-input" data-layout="half">
              <select class="form-dropdown" id="input_111" name="q111_exerciseAngina" style="width:310px" data-component="dropdown">
                <option value=""> Please Select </option>
                <option value="Yes"> Yes </option>
                <option value="No"> No </option>
              </select>
            </div>
          </li>
          <li class="form-line" data-type="control_number" id="id_112">
            <label class="form-label form-label-left form-label-auto" id="label_112" for="input_112"> Old Peak </label>
            <div id="cid_112" class="form-input" data-layout="half">
              <input type="number" id="input_112" name="q112_oldPeak" data-type="input-number" class=" form-number-input form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="e.g., 23" data-component="number" aria-labelledby="label_112" step="any" />
            </div>
          </li>
          <li class="form-line" data-type="control_dropdown" id="id_113">
            <label class="form-label form-label-left form-label-auto" id="label_113" for="input_113"> ST Slope </label>
            <div id="cid_113" class="form-input" data-layout="half">
              <select class="form-dropdown" id="input_113" name="q113_stSlope" style="width:310px" data-component="dropdown">
                <option value=""> Please Select </option>
                <option value="Up Flat Down"> Up Flat Down </option>
              </select>
            </div>
          </li>
          <li class="form-line" data-type="control_button" id="id_2">
            <div id="cid_2" class="form-input-wide" data-layout="full">
              <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
                <button id="input_2" type="submit" class="form-submit-button form-submit-button-simple_rose submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                  Submit
                </button>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
      
    </form></body>